{% extends "base.html" %}
{% block title %}Kharcha Kam{% endblock %}

{% block content %}

<div><br>
  <div class="container">
    
    <p class="mb-5" align  = 'center'>Hello there, Welcome to kharcha kam.<br>
    We are here to save you some money, just enter the name of product that you want to buy<br>
  we will search your product on Amazon and flipkart then show them at the same place. </p>
    <h3 >
      <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
    <form action="#" method="post">
      <p align='center'>Enter the name of Product:&nbsp &nbsp &nbsp 
      <input type="text" name="nm" placeholder=""/></h3></p>
      <h5  align='center'><input type="submit" value="Compare" /></h5>
    </form>  <div class="container">

    

    <div class="table-responsive custom-table-responsive">

      <table class="table custom-table">
        <thead>
          <tr>  

            
            <th scope="col">#</th>
            <th scope="col">Flipkart product</th>
            <th scope="col">flipkart price</th>
            <th scope="col">Amazon product</th>
            <th scope="col">Amazon price</th>
          </tr>
        </thead>
        <tbody>
          {% for value in stocklist%}      
          <tr scope="row">
            
            <td>
              {{ value[0] }}
            </td>
            <td>{{ value[1] }}</td>
            <td>
              {{ value[2] }}
            </td>
            <td>{{ value[3] }}</td>
            <td>{{ value[4] }}</td>
          </tr>
          {% endfor %}
          
          
        </tbody>
      </table>
    </div>


  </div>

<!-- <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Flipkart product</th>
        <th>flipkart price</th>
        <th>Amazon product</th>
        <th>Amazon price</th>
      </tr>
    </thead>
    <tbody>
      {% for value in stocklist%}
      <tr>
        <td>{{ value[0] }}</td>
        <td>{{ value[1] }}</td>
        <td>{{ value[2] }}</td>
        <td>{{ value[3] }}</td>
        <td>{{ value[4] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->


{% endblock %}